name: Build and Push Docker Image with Auto Deploy

on:
  push:
    branches:
      - product
      - test
  # pull_request:
  #   branches:
  #     - product

env:
  DOCKER_IMAGE_NAME: vipcb04/flight-schedules
  DOCKER_IMAGE_TAG: latest

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
        
    - name: Build with Maven
      run: mvn clean package -DskipTests
      
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        
    - name: Extract metadata for Docker
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ${{ env.DOCKER_IMAGE_NAME }}
        tags: |
          type=raw,value={{branch}}-latest
          type=sha,prefix={{branch}}-
          
    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        
    - name: Image digest
      run: echo "Image pushed with digest ${{ steps.meta.outputs.digest }}"
      
    - name: Trigger deploy test for webhook
      if: github.ref == 'refs/heads/test'



      
      run: |
        BODY='{"event":"deploy","service":"airhub"}'
        SIGNATURE=$(echo -n "$BODY" | openssl dgst -sha256 -hmac "${{ secrets.WEBHOOK_SECRET }}" | sed 's/^.* //')

        curl -X POST \
          -H "Content-Type: application/json" \
          -H "X-Hub-Signature-256: sha256=$SIGNATURE" \
          -d "$BODY" \
          http://67.202.3.146:8081/hooks/deploy-airhub-test

    - name: Trigger deploy product for webhook
      if: github.ref == 'refs/heads/product'
      run: |
        BODY='{"event":"deploy","service":"airhub"}'
        SIGNATURE=$(echo -n "$BODY" | openssl dgst -sha256 -hmac "${{ secrets.WEBHOOK_SECRET }}" | sed 's/^.* //')

        curl -X POST \
          -H "Content-Type: application/json" \
          -H "X-Hub-Signature-256: sha256=$SIGNATURE" \
          -d "$BODY" \
          http://67.202.3.146:8081/hooks/deploy-airhub-product